body::before {
  display: block;
  content: "";
  height: 60px;
}
/* this is to add a ghost element of 60px between the navbar and body */

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
/* media enquiry to sort out responsiveness */

#carouselProducts {
  max-width: 600px; /* Set a maximum width for the carousel */
  margin: 0 auto; /* Center the carousel on the page */
}

section a:hover,
#customOrder:hover {
  background-color: rgb(18, 114, 167) !important;
  color: white !important;
}

i {
  object-fit: contain;
}

.navbar-toggler-icon {
  border: solid 2px rgb(18, 114, 167);
  border-radius: 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(18, 114, 167)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;}

